.confirmBox .btn {
  background:#4186DB;
  color:#fff;
  border-radius: 20px;
  margin:0 5px;
}
.confirmBox .modal-footer {
  padding-top:7px;
  margin-bottom:10px;
  width:100%;
  margin-top:10px;
}
.confirmBox .btn-confirm-left {
  background:#fff;
  color:#4186DB;
  box-shadow: inset 0px 0px 3px #4186DB;
}
